logs/*
!.gitkeep
node_modules/
tmp
.idea
.DS_Store
angular-phonecat-snapshots
bower_components/
npm-debug.log

.bowerrc
.classpath
.jshintrc
.project
.settings/
.tern-project
.travis.yml
.gitkeep
*~

