<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <h2>{{category.name}} bookmarks</h2>
    <hr/>

    <div class="row">
      <div class="col-md-4">
        <div class="form-inline" role="form">
          <div class="form-group">
            <label for="exampleInputEmail2">Query</label>
            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Query" ng-model="query">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-inline">
          <div class="form-group">
          <label for="exampleInputEmail2">Sort</label>
            <select class="form-control" ng-model="orderProp">
              <option value="-id">Newest</option>
              <option value="id">Oldest</option>
              <option value="name">Alphabetical</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <a class="btn btn-default" href="#/addbookmark/{{category.id}}" ng-show="!!currentUser">Add bookmark</a>
      </div>
    </div>

    <hr/>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name &amp; Url</th>
          <th colspan=3 ng-show="!!currentUser && AuthUser.id === user.id">Actions</th>
        </tr>
      </thead>

      <tr ng-repeat="book in bookmarks | categoryBookmarks: category | filter:query | orderBy:orderProp">
        <td>
          <strong>{{book.name}}</storng>
          <a class="btn btn-link" href="{{book.url}}" target="_blank" title="{{book.url}}">
             {{ (book.url.length > 32 ? book.url.substring(0,32) + '...' : book.url ) }}
          </a>
        </td>
        <td ng-show="!!currentUser && AuthUser.id === user.id">
          <a class="btn btn-default" href="#/editbookmark/{{book.id}}">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </td>
        <td ng-show="!!currentUser && AuthUser.id === user.id">
          <a class="btn btn-default" href="#/rmbookmark/{{book.id}}">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
      </tr>
    </table>

    <!-- <div class="list-group">
      <a href="#" class="list-group-item" ng-repeat="cat in categories | usersCategories: AuthUser">{{cat.name}}</a>
    </div> -->

  </div>

  <div class="col-md-1"></div>
</div>
