<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-10" ng-show="!!currentUser">
    <h2>Remove bookmark: {{rmedBookmark.name}}</h2>
    <hr/>

    <h3>Are you sure?</h3>

    <div class="row">
    <div class="col-md-6">
      <a class="btn btn-primary" href="#/user/{{currentUser}}/category/{{rmedBookmark.category}}"
        ng-show="!!currentUser">No, cancel.</a>
    </div>
    <div class="col-md-6">
      <button class="btn btn-danger" ng-click="rmBookmark(rmedBookmark)"
        ng-show="( !!currentUser && rmedBookmark.owner === AuthUser.id )">Yes, remove.</button>
    </div>
    </div>

  </div>
  <div class="col-md-1"></div>
</div>
