<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-10">

    <h2>Browse categories</h2>

    <hr/>

    <div class="row">
      <div class="col-md-4">
        <div role="form" class="{{(!currentUser ? '' : 'form-inline' )}}">
          <div class="form-group">
            <label for="exampleInputEmail2">Query</label>
            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Query" ng-model="query">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div role="form" class="{{(!currentUser ? '' : 'form-inline' )}}">
          <div class="form-group">
          <label for="exampleInputEmail2">Sort</label>
            <select class="form-control" ng-model="orderProp">
              <option value="-id">Newest</option>
              <option value="id">Oldest</option>
              <option value="name">Alphabetical</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <a class="btn btn-default" href="#/addcategory" ng-show="!!currentUser">Add Cateogry</a>
      </div>
    </div>

    <hr/>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Owner / Name</th>
          <th colspan=3><span ng-show="!!currentUser">Actions</span></th>
        </tr>
      </thead>

      <tr ng-repeat="cat in browseCategories | filter:query | orderBy:orderProp">
        <td>
          <a class="btn btn-link" href="#/user/{{userName(cat.owner)}}">{{userName(cat.owner)}}</a> /
          <a class="btn btn-link" href="#/user/{{userName(cat.owner)}}/category/{{cat.id}}"><strong>{{cat.name}}</strong></a>
        </td>
        <td>
          <a class="btn btn-default" href="#/editcategory/{{cat.id}}"
            ng-show="!!currentUser && AuthUser.id === cat.owner">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </td>
        <td>
          <a class="btn btn-default" href="#/rmcategory/{{cat.id}}"
            ng-show="!!currentUser && AuthUser.id === cat.owner">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
        <td>
          <a class="btn btn-default" href="#/addbookmark/{{cat.id}}"
            ng-show="!!currentUser && AuthUser.id === cat.owner">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </td>
      </tr>
    </table>

  </div>

  <div class="col-md-1"></div>

</div>
